.footer-bar {
  /* height: 4%; */
  width: 100%;
  color: white;
  position: fixed;
  display: block;
  bottom: 0px;
  font-family: Montserrat-Bold;
  font-size: 0.75rem;
  padding: 2px 2px;
  /* background-color: #0411a3; */
  background-color: #7070eb;
  margin-top: 100px;
}

.hoverLink:hover {
  cursor: pointer;
  color: #08cec6;
}

.Infinite-gradient {
  background: rgb(151, 57, 241);
  background: -moz-linear-gradient(
    90deg,
    rgba(151, 57, 241, 0.9592274678111588) 11%,
    rgba(4, 17, 163, 0.8283261802575107) 36%,
    rgba(76, 156, 222, 0.9592274678111588) 65%,
    rgba(8, 206, 198, 1) 97%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(151, 57, 241, 0.9592274678111588) 11%,
    rgba(4, 17, 163, 0.8283261802575107) 36%,
    rgba(76, 156, 222, 0.9592274678111588) 65%,
    rgba(8, 206, 198, 1) 97%
  );
  background: linear-gradient(
    90deg,
    rgba(151, 57, 241, 0.9592274678111588) 11%,
    rgba(4, 17, 163, 0.8283261802575107) 36%,
    rgba(76, 156, 222, 0.9592274678111588) 65%,
    rgba(8, 206, 198, 1) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9739f1",endColorstr="#08cec6",GradientType=1);
}

.iconVibrate {
  animation: shake 6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes shake {
  5%,
  15%,
  75%,
  85% {
    /* transform: translate3d(-1px, 0, 0); */
    transform: rotate(-10deg);
  }

  10%,
  20%,
  80%,
  90% {
    /* transform: translate3d(-1px, 0, 0); */
    transform: rotate(10deg);
  }

  40%,
  60% {
    /* transform: translate3d(1px, 0, 0); */
  }
}
