.NotAvailable {
  color: rgba(128, 128, 128, 0.459);
}

.available {
  color: #0f9b03;
}

.smallWords {
  font-size: 0.85em;
  font-family: Montserrat-Regular;
}

.catalogList {
  font-size: 0.6em;
}

.insideTitle {
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  color: #7070eb;
}
.theSizes {
  margin: 1px 5px 15px 5px;
  padding: 10px 8px;
  max-width: 80px;
  text-align: center;
  background-color: #08cec6;
  font-family: Montserrat-ExtraBold;
  color: #7070eb;
  border-radius: 2px 18px;
  font-size: 1.15em;
}

.product-image-box{
  height: 70%;
}
.productShowImg {
  min-width: 70%;
  min-height: 70%;
  /* border: 2px dashed red; */
}
.iVibrate {
  animation: shaky 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both 2;
}
@keyframes shaky {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
    transform: rotate(-5deg);
  }

  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
    transform: rotate(5deg);
  }

  40%,
  60% {
    /* transform: translate3d(1px, 0, 0); */
  }
}