.flex-container {
  flex-direction: column;
}

.category {
  color: #7070eb;
  font-size: 2em;
  text-transform: uppercase;
  font-family: Montserrat-Bold;
}
.imageBox {
  margin-top: 55px;
  min-width: 100%;
}

.bgImage {
  min-height: 99vh;
  max-width: 100%;
  /* animation: fade 1.2s ease-in; */
}

.changeBgIndex {
  animation: fade 6.0s ease-in-out;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
} 
