h5 {
  margin: 60px auto 20px auto;
  width: 18%;
  padding: 2px 7px;
  border-bottom: 3px solid;
  font-family: Montserrat-ExtraBold;
  color: #0411a3;
  border-bottom-color: #06d6a2;
}

h2 {
  margin: 60px auto 20px auto;
  max-width: 62rem;
  padding: 2px 7px;
  border-bottom: 3px solid;
  font-family: Montserrat-ExtraBold;
  color: #0411a3;
  border-bottom-color: #06d6a2;
}

.para {
  text-align: justify;
  /* text-justify: inter-word; */
  font-family: Montserrat-Regular;
  margin: 5px auto;
}
.valoresAll {
  margin: 10px auto;
}

.itemTitle{
  font-family: Montserrat-ExtraBold;
  color: #0411a3;
}

.valoresBox {
  min-height: 100px;
  color: #0411a3;
  font-family: Montserrat-ExtraBold;
  background-color: #06d6a298;
  box-shadow: 3px 3px 5px gray;
  font-size: 0.89em;
  margin: 10px auto;
  padding: 20px 3px;
  border-radius: 2px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  margin: 3px auto;
  position: absolute;
  z-index: 0;
  /* background: white; */
  display: block;
  min-height: 50%;
  min-width: 50%;
}
ul {
  /* border: 1px solid red; */
}

ul li {
  text-align: left;
}
