.categoryBox {
  margin: 0.5rem 10px 10px auto;
  width: 90%;
  max-height: 90px;
  padding: 7px 2rem;
  background-color: #0411a3;
  border-radius: 18px;
}
.categoryBox:hover {
  cursor: pointer;
  background-color: #06d6a2;
  color: #0411a3;
}

.categoryNameItem {
  color: white;
  font-family: Montserrat-ExtraBold;
}

.categoryNameItem:hover {
  background-color: #06d6a2;
  color: #0411a3;
}

.productShowImg {
  width: 90%;
  height: 60%;
  margin: 2px 12px 2px 2px;
  /* display: block; */
  /* border: 2px dashed red; */
}
