.navThing {
    margin: 5px 8px;
    font-family: monospace;
    color: rgb(116, 35, 153);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
  }
  
  .link-text {
    font-size: 0.75em;
  }
  
  .activeNavLink {
    color: rgba(116, 35, 153, 0.6);
    border-bottom: 1px solid rgb(116, 35, 153);
  }
  
  .user-text {
      color: rgb(80,220,130);
  }
  
  .exit-text {
      color: rgb(36, 179, 86);
      font-size: 0.65em;
      cursor: pointer;
  }
  