.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  min-height: 100vh;
}
html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

.main {
  margin-top: 55px;
  margin-bottom: 20px;
  height: auto;
  min-height: 90%;
  min-width: 100%;
  /* padding: 0 0 80px; */
  box-sizing: border-box;
  overflow: auto;
}

.map-container {
  height: 25rem;
  width: 100%;
}

.bordeA {
  border: 1px dashed red;
}

.bordeB {
  border: 1px dashed white;
}

.bordeC {
  border: 1px solid greenyellow;
}

.fontA {
  font-family: PlayfairDisplay-Regular;
  font-weight: 900;
}

.theAqua {
  color: #08cec6;
}
.theLightBlue {
  color: #4c91de;
}

.theLightBlue-b {
  color: #06d6a2;
}
.thePurple {
  color: #0411a3;
}
.theLightPurple {
  color: #7070eb;
}
/* Colors */

/* 1 - aqua */
/* HEX: #08cec6 */
/* rgb(8, 206, 198) */

/* 2 - light blue */
/* HEX: #4c91de */
/* rgb(76, 145, 222) */

/* 3 - purple */
/* HEX: #0411a3 */
/* rgb(4, 17, 163) */

/* 4 - light purple */
/* HEX: #7070eb */
/* rgb(112, 112, 235) */

.Infinite-gradient {
  background: rgb(151, 57, 241);
  background: -moz-linear-gradient(
    90deg,
    rgba(151, 57, 241, 0.9592274678111588) 11%,
    rgba(4, 17, 163, 0.8283261802575107) 36%,
    rgba(76, 156, 222, 0.9592274678111588) 65%,
    rgba(8, 206, 198, 1) 97%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(151, 57, 241, 0.9592274678111588) 11%,
    rgba(4, 17, 163, 0.8283261802575107) 36%,
    rgba(76, 156, 222, 0.9592274678111588) 65%,
    rgba(8, 206, 198, 1) 97%
  );
  background: linear-gradient(
    90deg,
    rgba(151, 57, 241, 0.9592274678111588) 11%,
    rgba(4, 17, 163, 0.8283261802575107) 36%,
    rgba(76, 156, 222, 0.9592274678111588) 65%,
    rgba(8, 206, 198, 1) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9739f1",endColorstr="#08cec6",GradientType=1);
}
