@font-face {
  font-family: JuliusSansOne-Regular;
  src: url(./media/fonts/JuliusSansOne-Regular.ttf);
}

@font-face {
  font-family: Vidaloka-Regular;
  src: url(./media/fonts/Vidaloka-Regular.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(./media/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Italic;
  src: url(./media/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: PaytoneOne-Regular;
  src: url(./media/fonts/PaytoneOne-Regular.ttf);
}

@font-face {
  font-family: Hanuman-Regular;
  src: url(./media/fonts/Hanuman-Regular.ttf);
}

@font-face {
  font-family: Hanuman-Bold;
  src: url(./media/fonts/Hanuman-Bold.ttf);
}

@font-face {
  font-family: Candal-Regular;
  src: url(./media/fonts/Candal-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Black;
  src: url(./media/fonts/Monsterrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-BlackItalic.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./media/fonts/Monsterrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./media/fonts/Monsterrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-BoldItalic.ttf);
}
@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(./media/fonts/Monsterrat/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-ExtraLightItalic.ttf);
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(./media/fonts/Monsterrat/Montserrat-Italic.ttf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(./media/fonts/Monsterrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat-LightItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-LightItalic.ttf);
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(./media/fonts/Monsterrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-MediumItalic.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./media/fonts/Monsterrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./media/fonts/Monsterrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
  font-family: Montserrat-Thin;
  src: url(./media/fonts/Monsterrat/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url(./media/fonts/Monsterrat/Montserrat-ThinItalic.ttf);
}
